
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILITY */

.w-100 {
  width: 100%;
}

.p-2 {
  padding: 2rem;
}

.mt-5 {
  margin-top: 5rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.img-item {
  cursor: pointer;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.intro-item {
  width: 40%;
}

.rotate {
  animation: rotate 3s linear infinite;
}

/* ANIMATIONS */

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}