
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILITY */

.w-100 {
  width: 100%;
}

.m-2 {
  margin: 2rem;
}

.p-2 {
  padding: 2rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.indent-2 {
  text-indent: 2rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.g-1 {
  gap: 1rem;
}

.mh-100 {
  min-height: 100vh;
}

.text-center {
  text-align: center;
}

.list-none {
  list-style: none;
}

/* ITEMS */

.author {
  text-align: right;
}

.footer {
  background-color: #000000;
  padding: 2rem;
  color: white;
}

.footer-icons {
  font-size: 2rem;
}

.img-item {
  cursor: pointer;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.modal-img {
  max-height: 100vh;
  max-width: 90vw;
  object-fit: contain;
}

.intro-item {
  width: 40%;
}

.btn-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  background-color: transparent;
  background-image: url("./images/close.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1rem;
  height: 1rem;
  z-index: 10;
  border: .5rem solid transparent;
  box-sizing: content-box;
}

.btn-close:hover {
  rotate: 90deg;
  transition: 500ms;
}

.ico-link {
  color: white;
}

.ico-link:hover {
  color: #b66857;
  animation: shake 300ms;
}

.ico-link:visited {
  color:burlywood;
}

/* ANIMATIONS */

.rotate {
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}